<aside class="sidebar">
    <button matButton class="w-100 justify-start">Stage</button>
    <button matButton class="w-100 justify-start">Console Output</button>
    <button matButton class="w-100 justify-start">Target</button>
    <button matButton class="w-100 justify-start" (click)="navigateToBuild()">Build With Parameters</button>
    <button matButton class="w-100 justify-start">Logs</button>
    <button matButton class="w-100 justify-start">Basic</button>
    <button matButton class="w-100 justify-start">Basic</button>
    <button matButton class="w-100 justify-start">Basic</button>
    <button matButton class="w-100 justify-start">Basic</button>
    <button matButton class="w-100 justify-start">Basic</button>
</aside>